.nodes-container {
  height: 77.2vh;
  padding: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}

.nodes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: 100vw;
  background-color: rgba(214, 214, 214, 0.11);
}
.node {
  width: 30px;
  height: 30px;
  border: 1px solid #2997b9e8;
  border-radius: 0px;
  text-align: center;
}

.truck,
.target {
  padding-top: 2px;
  font-size: 1.5em;
  color: #1d1d1d;
  cursor: grab;
  transition: transform 0.2s ease-in-out;
}

.truck:active,
.target:active {
  cursor: grabbing;
  transform: scale(0.6);
}
